#calendar {
  width: 100%;
  margin: 0 auto;
  margin-top: -10px; }

.calendar-wrapper {
  position: relative;
  /* calendar-wrapper popup */ }
  .calendar-wrapper .popup {
    position: absolute;
    background: #fff;
    text-align: left;
    width: 300px;
    border: 1px solid #b2b4b6;
    box-shadow: 0px 0px 7px -1px rgba(0, 0, 0, 0.35);
    border-radius: 4px;
    padding: 14px 20px 14px 20px;
    z-index: 999;
    left: 635px;
    top: 50px; }
    .calendar-wrapper .popup h5 {
      text-transform: uppercase;
      font-weight: 600;
      margin: 0 0 21px 0;
      font-size: 14px;
      color: #7e91aa; }
    .calendar-wrapper .popup .field {
      margin-bottom: 7px; }
      .calendar-wrapper .popup .field .date {
        margin-left: 15px; }
      .calendar-wrapper .popup .field .event-input {
        position: relative;
        top: 5px;
        margin-left: 10px;
        width: 75%;
        display: inline-block; }
    .calendar-wrapper .popup input[type="submit"] {
      float: right;
      margin-right: 15px;
      margin-top: 15px; }
    .calendar-wrapper .popup i.close-pop {
      position: absolute;
      right: 11px;
      cursor: pointer;
      top: 12px;
      opacity: 0.6;
      transition: opacity 0.1s linear;
      -moz-transition: opacity 0.1s linear;
      -webkit-transition: opacity 0.1s linear;
      -o-transition: opacity 0.1s linear; }
      .calendar-wrapper .popup i.close-pop:hover {
        opacity: 1; }
    .calendar-wrapper .popup .pointer {
      position: absolute;
      bottom: 0;
      left: 46%; }
      .calendar-wrapper .popup .pointer .arrow,
      .calendar-wrapper .popup .pointer .arrow_border {
        border-color: #fff transparent transparent transparent;
        border-width: 11px;
        border-style: solid;
        font-size: 0;
        left: 50%;
        line-height: 0;
        margin: 0 auto;
        position: absolute;
        top: 0;
        width: 0;
        z-index: 1002;
        left: 0;
        margin-left: 45%; }
      .calendar-wrapper .popup .pointer .arrow_border {
        border-color: #888888 transparent transparent transparent;
        border-width: 12px;
        margin-left: -1px;
        border-style: solid;
        z-index: 1001;
        top: 0px; }

@media (max-width: 1000px) {
  .calendar-wrapper .popup {
    display: none; } }

/* Stats chart */
#statsChart {
  width: 97%;
  height: 250px;
  margin-top: 65px; }

/* specific chart styles */
.legendLabel {
  font-size: 12px;
  font-family: "Open Sans", Arial;
  color: #9da3a9; }

#pad-wrapper .section {
  border-top: 1px solid #edeff1;
  margin-top: 70px;
  padding-top: 45px;
  box-shadow: inset 0px 3px 4px -1px #fafafa; }

#pad-wrapper h4.title {
  margin-bottom: 45px; }

#pad-wrapper .section .chart h5 {
  margin-bottom: 10px; }

/*Responsive*/
.editor-header {
  margin-top: -10px; }

#editor {
  height: 525px;
  width: 100%;
  border: 1px solid #DDD;
  border-radius: 4px;
  border-bottom-right-radius: 0px;
  margin-bottom: 100px;
  margin-top: 25px; }

.datatables-page {
  margin-bottom: 25px; }

input.search.table-search {
  height: 35px; }

/* THIS ARE ALL NEW EXTRA ELEMENTS BESIDE TWITTER BOOTSTRAP */
/* glow btn group */
.btn-group.large button.glow {
  padding: 6px 15px;
  font-size: 13px; }

.btn-group.large i {
  font-size: 13px; }

.btn-group .dropdown-menu > li > a {
  font-size: 12px; }

.btn-group button.glow {
  float: left;
  font-size: 11px;
  font-family: "Open sans", Helvetica, Arial;
  color: #313d4c;
  font-weight: 700;
  padding: 5px 10px;
  line-height: 14px;
  background: #fefefe;
  /* Old browsers */
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, #fefefe 0%, #f7f7f7 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f7f7f7',GradientType=0 );
  /* IE6-9 */
  border: 1px solid #d0dde9;
  transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  /* Firefox 4 */
  -webkit-transition: color 0.1s linear;
  /* Safari and Chrome */
  -o-transition: color 0.1s linear;
  /* Opera */ }
  .btn-group button.glow.large {
    font-size: 12px; }
  .btn-group button.glow:active,
  .btn-group button.glow.active {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
    color: #a8b5c7; }
  .btn-group button.glow:hover {
    color: #a8b5c7; }
  .btn-group button.glow.left {
    border-radius: 4px 0 0 4px;
    border-right: 0; }
  .btn-group button.glow.middle {
    border-right: 0; }
  .btn-group button.glow.right {
    border-radius: 0 4px 4px 0; }

.btn-group > .btn.glow {
  font-size: 12px;
  float: left;
  font-weight: 500;
  padding: 6px 14px;
  color: #313d4c;
  line-height: 14px;
  border: 1px solid #d0dde9; }
  .btn-group > .btn.glow:hover {
    background: #fefefe;
    background: linear-gradient(to bottom, #fefefe 0%, #f7f7f7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#f7f7f7',GradientType=0 ); }
  .btn-group > .btn.glow.dropdown-toggle {
    padding: 6px 9px; }

/* FLAT BUTTONS */
.btn-flat {
  display: inline-block;
  margin: 0;
  line-height: 15px;
  vertical-align: middle;
  font-size: 12px;
  text-shadow: none;
  box-shadow: none;
  background-image: none;
  border: 0 none;
  color: #fff;
  font-weight: 500;
  border-radius: 4px;
  background: #4387bf;
  border: 1px solid #3883c0;
  cursor: pointer;
  padding: 7px 14px;
  transition: all 0.1s linear; }
  .btn-flat [class^="icon-"],
  .btn-flat [class*=" icon-"] {
    margin-right: 3px; }
  .btn-flat:active {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.3) inset;
    background: #30628b;
    opacity: 1; }
  .btn-flat:hover {
    text-decoration: none;
    opacity: 0.87;
    color: #fff; }
  .btn-flat.large {
    font-size: 13px;
    padding: 10px 16px; }
  .btn-flat.small {
    font-size: 11px;
    padding: 5px 9px; }
  .btn-flat.inverse {
    background: #343e4b;
    border: 1px solid #000; }
    .btn-flat.inverse:active {
      background: #000; }
  .btn-flat.gray {
    background: #7e91aa;
    border: 1px solid #888e97; }
    .btn-flat.gray:active {
      background: #5d6b7e;
      color: #f3f3f3; }
  .btn-flat.primary {
    background: #3b9ff3;
    border: 1px solid #3596e7; }
    .btn-flat.primary:active {
      background: #2b76b6;
      color: #edf6fd; }
  .btn-flat.success {
    background: #96bf48;
    border: 1px solid #7ea13d;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
    font-weight: 600; }
  .btn-flat.white {
    color: #626263;
    background: #fff;
    border: 1px solid #d0dde9; }
    .btn-flat.white:hover {
      border-color: #bbb;
      color: #000; }
  .btn-flat.info {
    background: #5ba0a3;
    color: #fff;
    border-color: #5ba0a3; }
    .btn-flat.info:active {
      background: #30696c; }
  .btn-flat.danger {
    background: #b85e80;
    border-color: #b85e80;
    color: #fff; }
    .btn-flat.danger:active {
      background: #6e354a; }
  .btn-flat.icon {
    padding: 7px 10px;
    color: #1a2129;
    background: #e6ebf3;
    border: 1px solid #d8dde4;
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.4) inset, 0px 1px 0px 0px #cccccc; }
    .btn-flat.icon:active {
      background: #e0e6ef;
      box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.3) inset; }
    .btn-flat.icon i {
      font-size: 14px; }

/* GLOW BUTTONS */
.btn-glow {
  font-size: 13px;
  border-radius: 4px;
  color: #333;
  padding: 5px 10px;
  text-align: center;
  box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 0px 0px #cccccc;
  display: inline-block;
  border: 1px solid #e5e5e5;
  vertical-align: middle;
  cursor: pointer;
  background: #ffffff;
  background: linear-gradient(to bottom, #ffffff 0%, #eef0f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eef0f1',GradientType=0 ); }
  .btn-glow:hover {
    text-decoration: none;
    background: #ffffff;
    background: linear-gradient(to bottom, #ffffff 0%, #E6E6E6 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#E6E6E6',GradientType=0 ); }
  .btn-glow.large {
    font-size: 14px;
    padding: 9px 16px; }
  .btn-glow.small {
    font-size: 11px;
    padding: 4px 7px; }
  .btn-glow:active,
  .btn-glow.active {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset !important; }
  .btn-glow [class^="icon-"],
  .btn-glow [class*=" icon-"] {
    margin-right: 3px; }
  .btn-glow i.shuffle {
    top: 2px; }
  .btn-glow.inverse {
    border-color: #000;
    color: #fff;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
    background: #353f4c;
    /* Old browsers */
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    background: linear-gradient(to bottom, #353f4c 0%, #222a33 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#353f4c', endColorstr='#222a33',GradientType=0 );
    /* IE6-9 */ }
    .btn-glow.inverse:hover {
      background: -webkit-linear-gradient(top, #434c58 0%, #424a53 100%); }
  .btn-glow.primary {
    border-color: #2480c2;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.35) 0 1px 0;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
    background: #54b3ff;
    background: linear-gradient(#54b3ff, #0078d9);
    background: -ms-linear-gradient(top, #54b3ff 0%, #0078d9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54b3ff', endColorstr='#0078d9',GradientType=0 ); }
    .btn-glow.primary:hover {
      background: #389beb;
      background: linear-gradient(#389beb, #0078d9);
      background: -ms-linear-gradient(top, #389beb 0%, #0078d9 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(56, 155, 235)', endColorstr='#0078d9',GradientType=0 ); }
    .btn-glow.primary:active {
      background: #389beb;
      background: linear-gradient(#389beb, #0078d9);
      background: -ms-linear-gradient(top, #389beb 0%, #0078d9 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgb(56, 155, 235)', endColorstr='#0078d9',GradientType=0 ); }
    .btn-glow.primary[disabled] {
      border: 0px;
      box-shadow: none !important;
      background: #81b7e2 !important;
      cursor: default; }
  .btn-glow.success {
    background: #96bf48;
    background: linear-gradient(to bottom, #a9d651 0%, #96bf48 100%);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.5);
    border: 1px solid #99bd56;
    text-shadow: rgba(0, 0, 0, 0.247059) 0px 1px 0px;
    color: #fff; }

/* Switch slider button */
.slider-frame {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  width: 67px;
  background-color: #d5dde4;
  height: 23px;
  border-radius: 15px;
  box-shadow: inset 0px 1px 5px 0px rgba(0, 0, 0, 0.3); }
  .slider-frame.info {
    background-color: rgba(92, 160, 163, 0.9); }
  .slider-frame.success {
    background-color: rgba(151, 192, 73, 0.9); }
  .slider-frame.primary {
    background-color: rgba(91, 158, 214, 0.9); }
  .slider-frame.danger {
    background-color: #d94774; }

.slider-button {
  display: block;
  width: 37px;
  height: 23px;
  line-height: 23px;
  background: #fff;
  border: 1px solid #d0dde9;
  border-radius: 9px;
  transition: all 0.25s ease-in-out;
  color: #000;
  font-family: sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  cursor: pointer; }
  .slider-button.on {
    margin-left: 29px; }

/* Custom Select */
.ui-select {
  width: 137px;
  margin-left: 0px !important;
  vertical-align: middle;
  min-width: 100px;
  height: 25px;
  min-height: 25px !important;
  position: relative;
  overflow: hidden;
  background: #ffffff;
  background: url("../../img/select-bg.png"), linear-gradient(to bottom, #ffffff 0%, #f0f1f2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f1f2',GradientType=0 );
  display: inline-block;
  border: 1px solid #cfdde8;
  border-radius: 5px;
  background-position: 94%;
  background-repeat: no-repeat; }
  .ui-select select {
    line-height: inherit;
    width: 135%;
    font-family: "Open Sans", Arial;
    font-size: 12px;
    border: none;
    padding: 1px 30px 0px 7px;
    height: 21px;
    -webkit-appearance: none;
    color: #737f8d;
    text-shadow: 1px 1px 1px #fff;
    background: transparent; }

/* jQuery UI Slider overrides */
.ui-slider {
  border: 1px solid #cfdde8;
  height: 7px;
  background: #edeeef;
  box-shadow: inset 0px -3px 7px 0px #fff; }

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
  background: url("../../img/jquery-ui/slider-handler.png") no-repeat;
  border: none;
  width: 16px;
  height: 17px;
  top: -6px;
  outline: 0; }

.ui-slider.vertical-handler .ui-state-default {
  background: url("../../img/jquery-ui/slider-handler2.png") no-repeat;
  width: 11px;
  height: 21px;
  top: -8px; }

.ui-slider .ui-slider-range {
  border: 1px solid #30a1ec;
  background: #4faeef;
  box-shadow: inset 0px 0px 3px 0px white; }

.ui-slider.success .ui-slider-range {
  background: #96bf48;
  border: 1px solid #79af5e; }

.ui-slider.info .ui-slider-range {
  background: #5ba0a3;
  border: 1px solid #5ba0a3; }

/* Custom Dialog */
.pop-dialog {
  z-index: 10000;
  display: inline-block; }
  .pop-dialog.is-visible {
    display: block;
    -webkit-animation: reveal 0.2s ease-out;
    animation: reveal 0.2s ease-out; }
  .pop-dialog .pointer {
    position: relative;
    top: -22px;
    /* pop-dialog with pointer to the right */ }
    .pop-dialog .pointer .arrow,
    .pop-dialog .pointer .arrow_border {
      border-color: transparent transparent #fff;
      border-style: solid;
      border-width: 8px;
      cursor: pointer;
      position: absolute;
      top: 7px;
      z-index: 1002;
      left: 25px; }
    .pop-dialog .pointer .arrow_border {
      border-color: transparent transparent #a1a1a1;
      border-width: 9px;
      top: 4px;
      z-index: 1001;
      left: 24px; }
    .pop-dialog .pointer.right .arrow {
      left: auto;
      right: 25px; }
    .pop-dialog .pointer.right .arrow_border {
      left: auto;
      right: 24px; }
  .pop-dialog .body {
    width: auto;
    background-color: #fff;
    border: 1px solid #a1a1a1;
    border-radius: 5px;
    box-shadow: 0px 0px 9px 0px #d6d6d6;
    padding: 10px; }

/* Dropdown with dialog */
.ui-dropdown {
  position: relative;
  display: inline-block; }
  .ui-dropdown .head {
    color: #272727;
    font-size: 13px;
    position: relative;
    border: 1px solid #dedede;
    border-radius: 4px;
    padding: 4px 46px 4px 12px;
    text-shadow: 1px 1px 1px #fff;
    box-shadow: 1px 1px 4px 0px #efefef;
    cursor: pointer;
    background: #ffffff;
    /* Old browsers */
    /* FF3.6+ */
    /* Chrome,Safari4+ */
    /* Chrome10+,Safari5.1+ */
    /* Opera 11.10+ */
    /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #f8f8f8 47%, #f4f4f4 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f4f4f4',GradientType=0 );
    /* IE6-9 */ }
    .ui-dropdown .head:hover,
    .ui-dropdown .head.active {
      background: #fefefe;
      /* Old browsers */
      /* FF3.6+ */
      /* Chrome,Safari4+ */
      /* Chrome10+,Safari5.1+ */
      /* Opera 11.10+ */
      /* IE10+ */
      background: linear-gradient(to bottom, #ffffff 0%, #FDFDFD 47%, #F1F1F1 100%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#F1F1F1',GradientType=0 );
      /* IE6-9 */ }
    .ui-dropdown .head:active,
    .ui-dropdown .head.active {
      box-shadow: none;
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); }
    .ui-dropdown .head i.arrow-down {
      position: absolute;
      top: 12px;
      right: 16px; }
  .ui-dropdown .dialog {
    display: none;
    position: absolute;
    right: 0px;
    top: 42px;
    z-index: 100; }
    .ui-dropdown .dialog.is-visible {
      display: block;
      -webkit-animation: reveal 0.2s ease-out;
      animation: reveal 0.2s ease-out; }
    .ui-dropdown .dialog .pointer {
      position: relative;
      top: -22px; }
      .ui-dropdown .dialog .pointer .arrow,
      .ui-dropdown .dialog .pointer .arrow_border {
        border-color: transparent transparent #fff;
        border-style: solid;
        border-width: 8px;
        cursor: pointer;
        position: absolute;
        top: 7px;
        z-index: 1002;
        right: 25px; }
      .ui-dropdown .dialog .pointer .arrow_border {
        border-color: transparent transparent #a1a1a1;
        border-width: 9px;
        top: 4px;
        z-index: 1001;
        right: 24px; }
    .ui-dropdown .dialog .body {
      width: 440px;
      background-color: #fff;
      border: 1px solid #a1a1a1;
      border-radius: 5px;
      box-shadow: 0px 0px 9px 0px #d6d6d6;
      padding: 8px 10px 8px 10px; }
      .ui-dropdown .dialog .body p.title {
        font-weight: 600;
        margin-bottom: 10px;
        font-size: 13px; }
      .ui-dropdown .dialog .body form select {
        display: inline-block;
        width: 120px;
        vertical-align: top;
        height: 27px;
        margin-right: 2px; }
      .ui-dropdown .dialog .body form input[type="text"] {
        height: 17px;
        width: 90px;
        margin-right: 2px; }
      .ui-dropdown .dialog .body form a {
        vertical-align: top; }

@-webkit-keyframes reveal {
  0% {
    margin-left: -999px;
    opacity: 0; }
  1% {
    margin-left: 0;
    opacity: 0;
    -webkit-transform: scale(0.98) translateY(-15px); }
  80% {
    -webkit-transform: scale(1); }
  100% {
    -webkit-transform: translateY(0); } }

.form-page .form-wrapper {
  margin-bottom: 40px; }
  .form-page .form-wrapper .field-box {
    margin-bottom: 30px;
    margin-left: 0;
    float: left;
    padding-left: 20px;
    width: 100%; }
  .form-page .form-wrapper .field-box .has-error {
    display: none; }
  .form-page .form-wrapper label {
    display: inline-block;
    float: left;
    font-weight: 600;
    cursor: auto;
    font-size: 12px;
    width: 140px;
    text-align: left; }
  .form-page .form-wrapper input:-moz-placeholder {
    font-style: italic; }
  .form-page .form-wrapper input:-ms-input-placeholder {
    font-style: italic; }
  .form-page .form-wrapper input::-webkit-input-placeholder {
    font-style: italic; }
  .form-page .form-wrapper .predefined {
    position: relative; }
    .form-page .form-wrapper .predefined input {
      padding-left: 40px; }
    .form-page .form-wrapper .predefined .value {
      position: absolute;
      top: 6px; }
  .form-page .form-wrapper label.checkbox {
    cursor: pointer;
    color: #555; }
  .form-page .form-wrapper label.radio {
    position: relative;
    left: -20px;
    width: 100%;
    cursor: pointer;
    color: #555; }
  .form-page .form-wrapper label.checkbox,
  .form-page .form-wrapper label.radio {
    font-weight: lighter; }
    .form-page .form-wrapper label.checkbox input[type="checkbox"],
    .form-page .form-wrapper label.checkbox input[type="radio"],
    .form-page .form-wrapper label.radio input[type="checkbox"],
    .form-page .form-wrapper label.radio input[type="radio"] {
      font-size: large;
      margin-left: 0px; }
  .form-page .form-wrapper .wysi-column {
    float: left;
    width: 75%; }
  .form-page .form-wrapper .column.pull-right label {
    display: block;
    width: 100%; }
  .form-page .form-wrapper .column.pull-right .ui-select {
    width: 250px; }
  .form-page .form-wrapper .column.pull-right .input-group {
    margin-bottom: 10px;
    width: 250px; }
  .form-page .form-wrapper .column.pull-right .input-datepicker {
    width: 250px; }
  .form-page .form-wrapper .select2-container {
    margin-left: 0px; }

/*Responsive*/
@media (max-width: 767px) {
  .form-page .form-wrapper label.radio {
    left: 0px; } }

#fuelux-wizard {
  margin-top: 60px; }

.wizard-steps {
  list-style: none;
  display: block;
  width: 100%;
  padding: 0;
  margin: 12px 0 0;
  position: relative;
  left: -40px; }
  .wizard-steps li {
    display: block;
    text-align: center;
    float: left;
    min-width: 25%;
    max-width: 25%; }
    .wizard-steps li:before {
      display: block;
      content: "";
      width: 100%;
      height: 1px;
      font-size: 0;
      overflow: hidden;
      border-top: 3px solid #e5e8ed;
      position: relative;
      top: 12px;
      z-index: 1; }
    .wizard-steps li:first-child:before {
      max-width: 50%;
      left: 50%; }
    .wizard-steps li:last-child:before {
      max-width: 50%;
      width: 50%; }
    .wizard-steps li.active:before,
    .wizard-steps li.complete:before,
    .wizard-steps li.active .step,
    .wizard-steps li.complete .step {
      border-color: #cbdeee;
      color: #34a0ed;
      background-color: #f2f7fb;
      font-weight: bold;
      box-shadow: inset 0px 0px 1px 2px #fff; }
    .wizard-steps li .step {
      text-align: center;
      border: 2px solid #e5e8ed;
      color: #d8dce6;
      font-size: 19px;
      border-radius: 32px;
      line-height: 12px;
      padding: 7px 15px;
      background-color: #FFF;
      position: relative;
      z-index: 2;
      display: inline; }
    .wizard-steps li.complete .title,
    .wizard-steps li.active .title {
      color: #2b3d53; }
    .wizard-steps li .title {
      display: block;
      max-width: 100%;
      color: #b1bcc5;
      font-size: 13px;
      z-index: 104;
      text-align: center;
      table-layout: fixed;
      word-wrap: break-word;
      position: relative;
      top: -76px;
      line-height: 15px; }

/* step content */
.step-content {
  margin-top: 40px;
  margin-left: 60px; }
  .step-content .step-pane {
    display: none;
    min-height: 267px; }
  .step-content .active {
    display: block; }

/* step forms */
.form-wrapper .field-box {
  margin-bottom: 25px;
  margin-left: 0;
  float: left;
  width: 100%; }
  .form-wrapper .field-box:last-child {
    margin-bottom: 0px; }

.form-wrapper label {
  display: inline-block;
  float: left;
  font-weight: 600;
  cursor: auto;
  font-size: 12px;
  width: 120px;
  text-align: left;
  position: relative;
  top: 2px; }

.form-wrapper input[type="text"] {
  width: 400px; }

.form-wrapper.payment-info label {
  width: 150px; }

.form-wrapper .alert-msg {
  display: block;
  margin-left: 120px;
  margin-bottom: -4px;
  margin-top: 10px; }
  .form-wrapper .alert-msg i {
    font-size: 14px; }

/*** Form states ***/
.form-wrapper .field-box {
  /* error */
  /* success */ }
  .form-wrapper .field-box.error label,
  .form-wrapper .field-box.error .alert-msg {
    color: #c73939; }
  .form-wrapper .field-box.error input {
    border-color: #c73939; }
  .form-wrapper .field-box.success label,
  .form-wrapper .field-box.success .alert-msg {
    color: #379e48; }
  .form-wrapper .field-box.success input {
    border-color: #379e48; }

/* actions */
.wizard-actions {
  float: right;
  margin-top: 30px;
  margin-right: 130px; }
  .wizard-actions .btn-next {
    margin-left: 15px; }
  .wizard-actions .btn-finish {
    display: none;
    margin-left: 15px; }

/* responsive */
@media (max-width: 979px) {
  .step-content {
    margin-left: 0px; } }

@media (max-width: 600px) {
  .wizard-steps {
    left: 0px; }
  .form-wrapper input[type="text"] {
    width: 200px; } }

.gallery .gallery-wrapper {
  text-align: center;
  position: relative; }

.gallery .img-container {
  margin-bottom: 50px; }
  .gallery .img-container .img-box {
    display: inline-block;
    position: relative; }
    .gallery .img-container .img-box:hover span {
      visibility: visible; }
  .gallery .img-container img {
    border: 4px solid #dff0fd;
    border-radius: 3px;
    cursor: pointer; }
  .gallery .img-container .title {
    margin-top: 5px;
    font-size: 13px; }
  .gallery .img-container .icon {
    position: absolute;
    background: rgba(56, 156, 240, 0.8);
    height: 48px;
    width: 48px;
    visibility: hidden;
    left: 41%;
    border-radius: 100%;
    cursor: pointer;
    text-align: center; }
  .gallery .img-container i {
    display: inline-block;
    margin-top: 14px; }
  .gallery .img-container span.edit {
    top: 23%; }
  .gallery .img-container span.trash {
    top: 48%; }

.gallery .new-img {
  display: inline-block; }
  .gallery .new-img img {
    border: 2px dashed #dee3e8;
    cursor: pointer;
    margin-bottom: 50px; }
    .gallery .new-img img:hover {
      opacity: 0.8;
      border-color: #ccc; }

/* gallery blank state */
.no-gallery {
  border-top: 1px solid #edeff1;
  padding-top: 40px;
  box-shadow: 0px 4px 9px -6px rgba(0, 0, 0, 0.12) inset;
  margin-bottom: 100px; }
  .no-gallery .center {
    margin: 0 auto;
    text-align: center;
    width: 42%; }
    .no-gallery .center h6 {
      color: #364453;
      font-weight: 600;
      margin: 30px 0 9px;
      font-size: 15px; }
    .no-gallery .center p {
      color: #364453;
      font-size: 13px; }
    .no-gallery .center a {
      margin-top: 30px; }

/*Responsive*/
@media (max-width: 979px) {
  .gallery .popup {
    display: none; } }

.grid-wrapper {
  margin-bottom: 60px; }
  .grid-wrapper .head {
    margin-bottom: 30px; }

.show-grid {
  margin-top: 10px;
  margin-bottom: 20px; }
  .show-grid [class*="col-"] {
    background-color: #eee;
    text-align: center;
    border-radius: 3px;
    min-height: 40px;
    line-height: 40px;
    border: 1px solid rgba(86, 61, 124, 0.2); }

i.tool {
  height: 14px;
  width: 14px;
  background: url("../../img/btn-tool.png") no-repeat;
  display: inline-block;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top; }

i.arrow-down {
  background: url("../../img/ico-arrow-black.png") no-repeat;
  width: 9px;
  height: 6px;
  display: inline-block;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top; }

i.shuffle {
  background: url("../../img/btn-shuffle.png") no-repeat;
  display: inline-block;
  height: 13px;
  width: 18px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top; }

i.setting {
  background: url("../../img/btn-setting.png") no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top; }

i.attach {
  background: url("../../img/btn-attach.png") no-repeat;
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top; }

i.ico-phone {
  background: url("../../img/ico-phone.png") no-repeat;
  height: 18px;
  width: 13px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top; }

i.ico-mail {
  background: url("../../img/ico-mail.png") no-repeat;
  height: 11px;
  width: 17px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top; }

i.gallery-edit {
  background: url("../../img/ico-gallery-edit.png") no-repeat;
  height: 20px;
  width: 20px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top; }

i.gallery-trash {
  background: url("../../img/ico-gallery-trash.png") no-repeat;
  height: 19px;
  width: 17px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top; }

i.table-edit {
  background: url("../../img/ico-table-new.png") no-repeat;
  width: 14px;
  height: 13px;
  display: inline-block;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top; }

i.table-settings {
  background: url("../../img/ico-table-edit.png") no-repeat;
  width: 16px;
  height: 16px;
  display: inline-block;
  position: relative;
  top: 1px; }

i.table-delete {
  background: url("../../img/ico-table-delete.png") no-repeat;
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top; }

/* Main stats up of screen */
#main-stats {
  background-color: #fdfdfd;
  border-bottom: 1px solid #efeef3; }
  #main-stats .stats-row {
    box-shadow: inset -1px 0px 5px 2px #f9f9f9;
    margin: 0; }
  #main-stats .stat {
    text-align: right;
    padding: 25px 0px 30px 0px;
    border-right: 1px solid #e8e9ee;
    position: relative;
    box-shadow: 1px 0px 0px 0px white; }
    #main-stats .stat.last {
      border-right: 0px; }
    #main-stats .stat .data {
      color: #29323a;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 16px;
      padding-right: 50px; }
      #main-stats .stat .data .number {
        color: #32a0ee;
        font-size: 25px;
        margin-right: 15px; }
    #main-stats .stat .date {
      color: #b4b8bb;
      font-weight: lighter;
      font-family: 'Lato', 'Open Sans';
      font-style: italic;
      font-size: 13px;
      position: absolute;
      right: 50px; }

.section {
  border-top: 1px solid #edeff1;
  margin-top: 100px;
  padding-top: 45px;
  box-shadow: inset 0px 3px 4px -1px #fafafa; }

/* Stats chart */
#statsChart {
  height: 250px;
  margin-top: 65px; }

/* specific chart styles */
.legendLabel {
  font-size: 12px;
  font-family: "Open Sans", Arial;
  color: #9da3a9; }

/* UI elements section */
#pad-wrapper .ui-elements h4 {
  margin-bottom: 35px; }

#pad-wrapper .ui-elements .btn-flat {
  text-transform: uppercase; }
  #pad-wrapper .ui-elements .btn-flat.icon {
    text-transform: none; }
    #pad-wrapper .ui-elements .btn-flat.icon i {
      margin-right: 3px; }

#pad-wrapper .ui-elements .ui-sliders {
  margin-top: 10px;
  margin-bottom: 50px; }
  #pad-wrapper .ui-elements .ui-sliders .ui-slider.slider-sample2,
  #pad-wrapper .ui-elements .ui-sliders .ui-slider.slider-sample3 {
    margin-top: 20px; }

#pad-wrapper .ui-elements .ui-group {
  margin-top: 35px; }
  #pad-wrapper .ui-elements .ui-group > * {
    margin-right: 5px;
    margin-bottom: 5px; }

#pad-wrapper .ui-elements .knobs {
  overflow: auto; }

#pad-wrapper .ui-elements .knob-wrapper {
  float: left; }
  #pad-wrapper .ui-elements .knob-wrapper .knob {
    box-shadow: none; }
  #pad-wrapper .ui-elements .knob-wrapper .info {
    position: relative;
    top: -20px; }
    #pad-wrapper .ui-elements .knob-wrapper .info .param {
      color: #9da3a9;
      text-align: center; }
      #pad-wrapper .ui-elements .knob-wrapper .info .param .line {
        background-color: #c4cdd8;
        height: 3px;
        width: 25px;
        display: inline-block;
        margin-right: 10px; }
        #pad-wrapper .ui-elements .knob-wrapper .info .param .line.blue {
          background-color: #30a1ec; }

/* table sample below */
.table-products {
  width: 100%; }
  .table-products .filter-block {
    margin-bottom: 34px; }
    .table-products .filter-block .ui-select {
      margin-right: 20px;
      top: 1px;
      height: 24px;
      width: 150px; }
    .table-products .filter-block .search {
      margin: 0 60px 0 0; }
    .table-products .filter-block .new-product {
      padding: 4px 14px; }
  .table-products .table tr.first td {
    border-top: 0 none; }
  .table-products .table td.description {
    vertical-align: middle;
    color: #516372; }
  .table-products .table td a {
    text-decoration: underline;
    margin-top: 6px;
    display: inline-block; }
  .table-products .table th input[type="checkbox"] {
    margin-top: 4px; }
  .table-products .table input[type="checkbox"] {
    float: left;
    margin-top: 11px;
    margin-right: 23px; }
  .table-products .table .img {
    height: 31px;
    float: left;
    background: white;
    width: 31px;
    border: 1px solid #dfe4eb;
    text-align: center;
    cursor: pointer;
    margin-right: 23px; }
    .table-products .table .img img {
      margin-top: 4px; }
  .table-products .table ul.actions {
    margin: 5px 0 0 0;
    padding: 0;
    float: right; }
    .table-products .table ul.actions li {
      display: inline;
      border-right: 1px solid #d0dde9;
      padding: 5px 6px 0px 3px; }
      .table-products .table ul.actions li.last {
        border: 0 none; }
    .table-products .table ul.actions i {
      cursor: pointer;
      opacity: 0.6;
      transition: opacity 0.1s linear;
      -moz-transition: opacity 0.1s linear;
      -webkit-transition: opacity 0.1s linear;
      -o-transition: opacity 0.1s linear; }
      .table-products .table ul.actions i:hover {
        opacity: 1; }
  .table-products .label {
    position: relative; }
  .table-products .pagination {
    float: right;
    margin-top: 35px; }

/* responsive */
@media (max-width: 768px) {
  #main-stats {
    margin-left: -15px;
    margin-right: -15px; }
  #pad-wrapper .ui-elements .knobs {
    text-align: center; }
    #pad-wrapper .ui-elements .knobs .knob-wrapper {
      float: inherit; }
  #pad-wrapper .ui-elements .showcase {
    text-align: center; }
  #pad-wrapper .table-products .table .img {
    display: none; }
  #pad-wrapper .table-products .table input[type="checkbox"] {
    margin-right: 10px; }
  #pad-wrapper .table-products .table .label {
    display: none; } }

@media (max-width: 979px) {
  #main-stats .stat .data {
    padding-right: 17px; }
    #main-stats .stat .data .number {
      font-size: 18px; }
  #pad-wrapper .knob-wrapper .info {
    display: none; }
  .pointer {
    top: 5%; }
  .table-products .head {
    margin-bottom: 20px; } }

@media (min-width: 980px) {
  #pad-wrapper .ui-elements .knob-wrapper + .knob-wrapper {
    margin-left: 5px; } }

@media (min-width: 1200px) {
  #pad-wrapper .ui-elements .showcase {
    width: 53%; }
  #pad-wrapper .ui-elements .knob-wrapper + .knob-wrapper {
    margin-left: 35px; } }

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f7f7f7;
  position: relative;
  margin: 0px;
  font-size: 12px;
  padding: 0px;
  /*-webkit-font-smoothing: antialiased;*/ }

h1, h2, h3, h4, h5 {
  margin: 0;
  line-height: inherit;
  color: #29323d; }
  h1 small, h2 small, h3 small, h4 small, h5 small {
    margin-left: 15px;
    font-style: italic; }

body.menu {
  overflow-x: hidden; }
  body.menu .content {
    margin-left: 165px;
    position: fixed;
    width: 850px; }
  body.menu #sidebar-nav {
    position: absolute;
    left: 0;
    /*height: 100%;*/
    border-right: 0px;
    box-shadow: none; }

input.search {
  box-shadow: none;
  height: 25px;
  width: 220px;
  font-size: 13px;
  padding: 2px 6px;
  border: 1px solid #d0dde9;
  margin: 0;
  border-radius: 2px;
  top: 11px; }

.header {
  margin-bottom: 60px; }
  .header h1, .header h2, .header h3, .header h4, .header h5 {
    float: left;
    margin-top: 5px; }

/* Custom navbar stuff */
/* search input */
.navbar-inverse {
  /* navbar settings and logout icons */
  /* notification menu with custom dropdowns */
  /* navbar popup dialog */ }
  .navbar-inverse input.search {
    height: 27px;
    width: 220px;
    padding: 3px 6px;
    background: url("../../img/lens.png") #0f1217 no-repeat 95%;
    border: 1px solid #0f1217;
    position: relative;
    border-radius: 4px;
    top: 9px;
    color: #000;
    font-size: 13px;
    margin-right: 40px;
    transition: all 0.3s linear; }
    .navbar-inverse input.search:focus {
      background-color: #fff;
      border: 0; }
  .navbar-inverse .settings i {
    color: #9ba3ad;
    font-size: 21px; }
  .navbar-inverse .notification-dropdown {
    position: relative; }
    .navbar-inverse .notification-dropdown > a:hover,
    .navbar-inverse .notification-dropdown > a.active {
      background: #254261 !important;
      box-shadow: inset 1px 0px 1px 0px #3e5a79; }
    .navbar-inverse .notification-dropdown i {
      font-size: 17px;
      color: #9ba3ad; }
    .navbar-inverse .notification-dropdown .count {
      position: absolute;
      top: 1px;
      left: 58%;
      background: #35bac4;
      padding: 0px 5px;
      border-radius: 30px;
      color: #fff;
      line-height: 16px;
      z-index: 9999;
      text-align: center;
      font-size: 11px; }
  .navbar-inverse .pop-dialog {
    position: absolute;
    right: -10px;
    top: 55px;
    display: none;
    /* navbar popup dialog for notifications */
    /* navbar popup dialog for messages */ }
    .navbar-inverse .pop-dialog.is-visible {
      display: block;
      -webkit-animation: reveal 0.2s ease-out;
      animation: reveal 0.2s ease-out; }
    .navbar-inverse .pop-dialog .body {
      box-shadow: 0px 1px 9px 1px #c2c2c2; }
    .navbar-inverse .pop-dialog .close-icon {
      float: right;
      text-decoration: none;
      z-index: 9999;
      position: relative; }
    .navbar-inverse .pop-dialog .footer {
      border-top: 1px solid #e6e8e9;
      background-color: #eff4f7;
      margin: 15px 0px -10px 0px;
      border-radius: 0px 0px 5px 5px;
      padding: 12px 20px;
      text-align: center; }
      .navbar-inverse .pop-dialog .footer a {
        font-weight: 600;
        color: #7d91a8; }
    .navbar-inverse .pop-dialog .notifications {
      width: 330px;
      margin: 10px -10px 0px -10px; }
      .navbar-inverse .pop-dialog .notifications h3 {
        font-size: 13px;
        color: #404951;
        font-weight: bold;
        padding-left: 20px;
        margin-top: 5px;
        margin-bottom: 15px; }
      .navbar-inverse .pop-dialog .notifications .item {
        display: block;
        padding: 10px 0px 8px 20px;
        border-top: 1px solid #e7e8ea;
        color: #363636;
        text-decoration: none;
        padding-left: 50px;
        position: relative;
        transition: all 0.25s linear;
        -moz-transition: all 0.25s linear;
        -webkit-transition: all 0.25s linear;
        -o-transition: all 0.25s linear; }
        .navbar-inverse .pop-dialog .notifications .item:hover {
          background: #f0f6ff; }
        .navbar-inverse .pop-dialog .notifications .item > i {
          color: #fc827b;
          position: absolute;
          left: 19px;
          font-size: 18px; }
          .navbar-inverse .pop-dialog .notifications .item > i.icon-user {
            left: 18px; }
        .navbar-inverse .pop-dialog .notifications .item .time {
          float: right;
          color: #82a3c1;
          font-style: italic;
          font-weight: 600;
          font-size: 11px;
          min-width: 60px;
          margin-right: 5px; }
          .navbar-inverse .pop-dialog .notifications .item .time i {
            font-size: 13px;
            color: #cfcfcf;
            margin-right: 1px; }
    .navbar-inverse .pop-dialog .messages {
      width: 325px;
      margin: 10px -10px 0px -10px; }
      .navbar-inverse .pop-dialog .messages .item {
        display: block;
        padding: 10px 20px 15px 20px;
        height: 80px;
        border-bottom: 1px solid #e7e8ea;
        color: #363636;
        text-decoration: none;
        position: relative;
        transition: all 0.25s linear;
        -moz-transition: all 0.25s linear;
        -webkit-transition: all 0.25s linear;
        -o-transition: all 0.25s linear; }
        .navbar-inverse .pop-dialog .messages .item.last {
          border-bottom: 0px; }
        .navbar-inverse .pop-dialog .messages .item:hover {
          background: #f0f6ff; }
        .navbar-inverse .pop-dialog .messages .item .display {
          float: left;
          border-radius: 50px;
          margin-right: 15px; }
        .navbar-inverse .pop-dialog .messages .item .name {
          font-size: 12px;
          color: #404951;
          font-weight: bold; }
        .navbar-inverse .pop-dialog .messages .item .msg {
          font-size: 11px;
          color: #636363;
          line-height: 13px;
          position: relative;
          top: 2px; }
        .navbar-inverse .pop-dialog .messages .item .time {
          position: absolute;
          right: 0px;
          bottom: 6px;
          color: #82a3c1;
          font-style: italic;
          font-weight: 600;
          font-size: 11px;
          min-width: 60px;
          margin-right: 5px; }
          .navbar-inverse .pop-dialog .messages .item .time i {
            font-size: 13px;
            color: #cfcfcf;
            margin-right: 1px; }
      .navbar-inverse .pop-dialog .messages .footer {
        margin-top: 6px; }

/* Sidebar */
#sidebar-nav {
  position: absolute;
  width: 180px;
  float: left;
  margin: 0em;
  padding-top: 5.8em; }
  #sidebar-nav #dashboard-menu {
    list-style: none;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 0;
    margin-left: 20px;
    /* sidebar submenus */ }
    #sidebar-nav #dashboard-menu > li > a {
      display: block;
      padding: 19px 14px 15px 14px;
      margin-left: -15px;
      margin-bottom: 5px;
      border-bottom: 1px solid #dae1e8;
      box-shadow: 0 2px 1px -1px #FFFFFF;
      color: #6e829b;
      outline: 0px;
      line-height: 21px; }
    #sidebar-nav #dashboard-menu > li {
      position: relative;
      /* font awesome icon */ }
      #sidebar-nav #dashboard-menu > li .icon-group {
        font-size: 22px; }
      #sidebar-nav #dashboard-menu > li i {
        font-size: 23px;
        top: 17px; }
      #sidebar-nav #dashboard-menu > li:hover i {
        opacity: 1; }
      #sidebar-nav #dashboard-menu > li.active > a,
      #sidebar-nav #dashboard-menu > li > a:hover {
        color: #33455a;
        text-decoration: none; }
      #sidebar-nav #dashboard-menu > li.active a {
        font-weight: 600;
        text-shadow: 1px 1px 1px #fff; }
      #sidebar-nav #dashboard-menu > li.active i {
        opacity: 1; }
    #sidebar-nav #dashboard-menu .pointer {
      position: absolute;
      right: 9px;
      top: 20px; }
      #sidebar-nav #dashboard-menu .pointer .arrow,
      #sidebar-nav #dashboard-menu .pointer .arrow_border {
        border-color: transparent #fff transparent transparent;
        border-width: 11px;
        border-style: solid;
        font-size: 0;
        left: 50%;
        line-height: 0;
        margin: 0 auto;
        position: absolute;
        top: 0;
        width: 0;
        z-index: 1002;
        left: 0;
        margin-left: 45%; }
      #sidebar-nav #dashboard-menu .pointer .arrow_border {
        border-color: transparent #c0d2dd transparent transparent;
        border-width: 11px;
        margin-left: -1px;
        border-style: solid;
        z-index: 1001;
        top: 0px; }
    #sidebar-nav #dashboard-menu a span {
      margin-left: 20px;
      transition: color 0.1s linear;
      -moz-transition: color 0.1s linear;
      -webkit-transition: color 0.1s linear;
      -o-transition: color 0.1s linear; }
    #sidebar-nav #dashboard-menu a.ui-elements span {
      margin-left: 25px; }
    #sidebar-nav #dashboard-menu a i {
      position: absolute;
      left: 0;
      height: 24px;
      width: 24px;
      opacity: 0.7;
      transition: opacity 0.1s ease;
      -moz-transition: opacity 0.1s ease;
      -webkit-transition: opacity 0.1s ease;
      -o-transition: opacity 0.1s ease; }
      #sidebar-nav #dashboard-menu a i.icon-chevron-down {
        position: relative;
        float: right;
        top: 5px;
        font-size: 11px;
        color: #686868;
        width: initial;
        height: initial; }
    #sidebar-nav #dashboard-menu > li.active .dropdown-toggle,
    #sidebar-nav #dashboard-menu > li.open .dropdown-toggle {
      border-bottom: 0px;
      box-shadow: none; }
    #sidebar-nav #dashboard-menu ul.submenu {
      list-style-type: none;
      display: none;
      margin-top: 7px;
      margin-bottom: 15px;
      margin-right: 5px;
      margin-left: -15px;
      padding-left: 15px;
      border-bottom: 1px solid #dae1e8;
      box-shadow: 0 2px 1px -1px #FFFFFF;
      padding-bottom: 10px; }
      #sidebar-nav #dashboard-menu ul.submenu.active {
        display: block; }
      #sidebar-nav #dashboard-menu ul.submenu a {
        font-weight: normal;
        font-size: 13px;
        color: #4c535a;
        text-decoration: none;
        display: block;
        margin-bottom: 7px; }
        #sidebar-nav #dashboard-menu ul.submenu a:hover {
          text-decoration: underline; }
        #sidebar-nav #dashboard-menu ul.submenu a.active {
          font-weight: bold;
          text-shadow: none; }

#pad-wrapper {
  padding: 0px 50px;
  margin-top: 55px; }
  #pad-wrapper h4 {
    color: #696d73;
    font-style: italic; }

.content {
  min-width: 400px;
  min-height: 620px;
  margin-bottom: 100px;
  padding-bottom: 50px;
  overflow: hidden;
  position: relative;
  background: #fff;
  margin-left: 177px;
  border-left: 1px solid #dae3e9;
  border-bottom: 1px solid #dae3e9;
  box-shadow: -3px 3px 3px -2px #f1f1f3;
  border-radius: 0px 0px 0px 5px;
  transition: margin-left 0.3s ease;
  /* starts skins changer */
  /* end skin changer*/ }
  .content.wide-content {
    margin-left: 0;
    border-radius: 0; }
  .content .skins-nav {
    opacity: 1;
    transition: right 0.3s;
    position: fixed;
    right: -88px;
    top: 135px;
    font-size: 13px;
    z-index: 9999; }
    .content .skins-nav:hover {
      right: 0; }
    .content .skins-nav a {
      display: block;
      color: #fff;
      text-decoration: none;
      padding-left: 10px;
      height: 37px;
      border-radius: 4px 0 0 4px;
      margin-bottom: 3px;
      transition: all 0.5s; }
      .content .skins-nav a.first_nav {
        background: rgba(95, 175, 228, 0.8); }
        .content .skins-nav a.first_nav:hover {
          background: #5fafe4; }
      .content .skins-nav a.second_nav {
        background: rgba(36, 43, 77, 0.8); }
        .content .skins-nav a.second_nav:hover {
          background: #242b4d; }
      .content .skins-nav a .icon {
        float: left;
        width: 9px;
        height: 10px;
        background: url("../../img/skin-nav-bullets.png") 0 0 no-repeat;
        margin: 15px 15px 0 5px; }
      .content .skins-nav a.selected .icon {
        background-position: 0 -9px; }
      .content .skins-nav a .text {
        padding-right: 12px;
        white-space: nowrap;
        display: block;
        width: 115px;
        position: relative;
        top: 9px;
        transition: width 0.2s; }

/* responsive */
@media (max-width: 768px) {
  #pad-wrapper {
    padding: 0px 15px; }
  .content {
    min-width: 0px;
    margin: 0; }
  #dashboard-menu .pointer {
    display: none; }
  #sidebar-nav {
    left: -200px;
    position: fixed;
    z-index: 9999;
    background-color: #f7f7f7;
    padding-top: 0px;
    border-right: 1px solid #ccc;
    width: 165px;
    box-shadow: 1px 1px 4px 1px #e9e9e9;
    transition: left 0.3s ease; }
  #sidebar-nav #dashboard-menu {
    margin-left: 10px; }
  #sidebar-nav #dashboard-menu li a span {
    visibility: visible; }
  #sidebar-nav #dashboard-menu li:last-child a {
    border-bottom: 0px;
    box-shadow: none; } }

@media (max-width: 822px) {
  .navbar-inverse input.search {
    display: none; } }

@media (max-width: 767px) {
  #main-stats .stat {
    width: 50%;
    float: left; } }

.new-user {
  /* form sidebar*/ }
  .new-user .form-wrapper .with-sidebar {
    border-right: 1px solid #edeef1;
    box-shadow: 4px 0px 3px -1px rgba(226, 226, 226, 0.1); }
  .new-user .form-sidebar .alert {
    margin: 10px 0px 30px 0px; }
    .new-user .form-sidebar .alert i {
      margin-bottom: 30px; }
  .new-user .form-sidebar h6 {
    font-weight: 600;
    text-transform: uppercase; }
  .new-user .form-sidebar p {
    color: #777e86; }
  .new-user .form-sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .new-user .form-sidebar ul a {
      text-decoration: underline; }

/* responsive */
@media (max-width: 991px) {
  .new-user .form-wrapper .with-sidebar {
    border-right: 0 none;
    box-shadow: none; }
  .new-user .form-sidebar {
    margin-top: 40px; } }

.settings-wrapper .wrapp {
  margin-top: 100px; }

.settings-wrapper .avatar-box img {
  border: 3px solid #c3cddb;
  margin-bottom: 28px; }

.settings-wrapper .avatar-box p {
  font-weight: 700;
  margin-bottom: 12px; }

.settings-wrapper .avatar-box input[type="file"] {
  font-size: 11px; }

.settings-wrapper .personal-info {
  border-left: 1px solid #edeff1;
  box-shadow: inset 3px 0px 4px -1px #fafafa; }
  .settings-wrapper .personal-info .alert {
    margin-bottom: 50px;
    display: inline-block;
    font-size: 13px; }
    .settings-wrapper .personal-info .alert i {
      float: left; }
  .settings-wrapper .personal-info h5.personal-title {
    font-size: 22px;
    margin: 0 0 50px 50px;
    color: #696d73;
    font-style: italic; }
  .settings-wrapper .personal-info form {
    margin-left: 50px; }
  .settings-wrapper .personal-info label {
    display: inline-block;
    float: left;
    font-weight: 600;
    font-size: 13px;
    cursor: auto;
    width: 20%;
    margin-right: 10px;
    text-align: left; }
  .settings-wrapper .personal-info .input[type="text"] {
    font-weight: 600; }
  .settings-wrapper .personal-info .ui-select {
    width: 100%;
    margin-bottom: 10px; }
  .settings-wrapper .personal-info .actions {
    margin-bottom: 25px;
    margin-top: 30px;
    width: 100%;
    padding-right: 70px;
    float: left;
    text-align: right; }
    .settings-wrapper .personal-info .actions span {
      text-transform: uppercase;
      color: #7e91aa;
      font-weight: 600;
      display: inline-block;
      vertical-align: middle;
      margin: 0 2px 0 8px; }
  .settings-wrapper .personal-info input.reset {
    color: #7e91aa;
    font-weight: 500; }

/* responsive */
@media (max-width: 768px) {
  .settings-wrapper #pad-wrapper {
    padding: 0px 20px; }
  .settings-wrapper .avatar-box {
    text-align: center; }
  .settings-wrapper .personal-info {
    border: 0 none;
    box-shadow: none;
    margin-top: 40px; }
    .settings-wrapper .personal-info h5.personal-title {
      margin-left: 0; }
    .settings-wrapper .personal-info .ui-select {
      width: 90%; }
    .settings-wrapper .personal-info label {
      width: 100%; }
    .settings-wrapper .personal-info .actions {
      text-align: center; }
    .settings-wrapper .personal-info form {
      margin-left: 0;
      padding: 0px 10px 0px 10px; } }

@media (min-width: 768px) and (max-width: 979px) {
  .settings-wrapper .personal-info .ui-select {
    width: 77%; }
  .avatar-box {
    text-align: center;
    margin-bottom: 20px; }
  .settings-wrapper .personal-info {
    border-left: 0px;
    box-shadow: none; } }

@media (min-width: 768px) {
  .settings-wrapper .personal-info .alert {
    margin-left: 50px; } }

.login-bg {
  background: url("../../img/bgs/landscape.jpg") no-repeat center center fixed;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bgs/landscape.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../img/bgs/landscape.jpg', sizingMethod='scale')";
  background-size: cover; }

.login-wrapper {
  position: absolute;
  top: 90px;
  left: 0;
  right: 0;
  text-align: center; }
  .login-wrapper .logo {
    margin-bottom: 45px;
    position: relative;
    left: -2px; }
  .login-wrapper .box {
    margin: 0 auto;
    padding: 35px 0 30px;
    float: none;
    width: 400px;
    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.65); }
    .login-wrapper .box .content-wrap {
      width: 82%;
      margin: 0 auto; }
    .login-wrapper .box h6 {
      text-transform: uppercase;
      margin: 0 0 30px 0;
      font-size: 18px;
      font-weight: 600; }
    .login-wrapper .box input[type="text"],
    .login-wrapper .box input[type="password"] {
      font-size: 15px;
      height: 40px;
      margin-bottom: 18px;
      border-color: #b2bfc7;
      padding-left: 12px; }
    .login-wrapper .box input[type="password"] {
      margin-bottom: 10px; }
    .login-wrapper .box input:-moz-placeholder {
      color: #9ba8b6;
      font-size: 15px;
      letter-spacing: 0px;
      font-style: italic; }
    .login-wrapper .box input:-ms-input-placeholder {
      color: #9ba8b6;
      font-style: italic;
      letter-spacing: 0px;
      font-size: 15px; }
    .login-wrapper .box input::-webkit-input-placeholder {
      color: #9ba8b6;
      font-style: italic;
      letter-spacing: 0px;
      font-size: 15px; }
    .login-wrapper .box a.forgot {
      display: block;
      text-align: right;
      font-style: italic;
      text-decoration: underline;
      color: #3d88ba;
      font-size: 13px;
      margin-bottom: 6px; }
    .login-wrapper .box .remember {
      display: block;
      overflow: hidden;
      margin-bottom: 20px; }
      .login-wrapper .box .remember input[type="checkbox"] {
        float: left;
        margin-right: 8px; }
      .login-wrapper .box .remember label {
        float: left;
        color: #4a576a;
        font-size: 13px;
        font-weight: 600; }
    .login-wrapper .box .login {
      text-transform: uppercase;
      font-size: 13px;
      padding: 8px 30px; }
  .login-wrapper .no-account {
    margin: 0 auto;
    float: none;
    text-align: center;
    font-size: 14px;
    margin-top: 25px; }
    .login-wrapper .no-account p {
      display: inline-block;
      color: #aaaaaa; }
    .login-wrapper .no-account a {
      color: #aaaaaa;
      margin-left: 7px;
      border-bottom: 1px solid;
      transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
      /* Firefox 4 */
      -webkit-transition: all 0.1s linear;
      /* Safari and Chrome */
      -o-transition: all 0.1s linear;
      /* Opera */ }
      .login-wrapper .no-account a:hover {
        text-decoration: none;
        color: #fff;
        border-bottom-color: #fff; }

/* background switcher */
.bg-switch {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  top: 60px;
  border-radius: 0px 10px 10px 0px;
  padding: 10px 10px 0px 10px;
  z-index: 999; }
  .bg-switch .bgs .bg {
    text-align: center;
    margin-bottom: 13px;
    text-decoration: none;
    display: block; }
    .bg-switch .bgs .bg.active img {
      border-color: #000; }
    .bg-switch .bgs .bg img {
      width: 80px;
      height: 60px;
      border: 2px solid #9fcef1;
      cursor: pointer; }

/* responsive */
@media (max-width: 767px) {
  .login-wrapper .box {
    width: 350px; } }

@media (max-width: 480px) {
  .login-wrapper .box {
    width: 90%; } }

.login-bg {
  background: rgba(255, 255, 255, 0);
  background: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
  background-color: #eff0f3;
  background-repeat: no-repeat;
  height: 100%; }

body {
  background-color: #eff0f3; }

.header {
  background: #2c3742;
  box-shadow: inset rgba(255, 255, 255, 0.3) 0 1px 0, inset rgba(0, 0, 0, 0.22) 0 -1px 0, rgba(0, 0, 0, 0.14) 0 1px 2px;
  width: 100%;
  height: 75px;
  text-align: center;
  padding-top: 28px; }

.login-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center; }
  .login-wrapper .logo {
    margin-bottom: 45px;
    position: relative;
    left: -2px;
    -webkit-filter: invert(100%); }
  .login-wrapper .box {
    margin: 0 auto;
    padding: 30px 0 30px;
    float: none;
    width: 400px;
    -ms-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px;
    -o-box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px;
    box-shadow: rgba(0, 0, 0, 0.4) 0 1px 3px, rgba(0, 0, 0, 0.35) 0 0 1px;
    background: #fff;
    border-radius: 6px; }
    .login-wrapper .box .content-wrap {
      width: 82%;
      margin: 0 auto; }
    .login-wrapper .box h6 {
      text-transform: uppercase;
      margin-bottom: 35px;
      font-size: 18px;
      font-weight: 600; }
    .login-wrapper .box input[type="text"],
    .login-wrapper .box input[type="password"] {
      font-size: 15px;
      height: 40px;
      margin-bottom: 10px;
      border-color: #b2bfc7;
      padding-left: 12px; }
      .login-wrapper .box input[type="text"]:focus,
      .login-wrapper .box input[type="password"]:focus {
        border: 1px solid #28a0e5;
        outline: none;
        -ms-box-shadow: inset 0 1px 2px #ddd, 0px 0 5px #28a0e5;
        -o-box-shadow: inset 0 1px 2px #ddd, 0px 0 5px #28a0e5;
        box-shadow: inset 0 1px 2px #ddd, 0px 0 5px #28a0e5; }
    .login-wrapper .box input[type="password"] {
      margin-bottom: 10px; }
    .login-wrapper .box input:-moz-placeholder {
      color: #9ba8b6;
      font-size: 14px;
      letter-spacing: 0px;
      font-style: italic; }
    .login-wrapper .box input:-ms-input-placeholder {
      color: #9ba8b6;
      font-style: italic;
      letter-spacing: 0px;
      font-size: 14px; }
    .login-wrapper .box input::-webkit-input-placeholder {
      color: #9ba8b6;
      font-style: italic;
      letter-spacing: 0px;
      font-size: 14px; }
    .login-wrapper .box .action {
      border-top: 1px solid #d3d7db;
      background-color: #f4f5f6;
      margin: 0px -36px;
      position: relative;
      top: 30px;
      border-radius: 0px 0px 7px 7px;
      padding: 15px 0px; }
    .login-wrapper .box .signup {
      text-transform: uppercase;
      font-size: 13px;
      padding: 7px 25px;
      border-radius: 5px; }
  .login-wrapper .already {
    margin: 0 auto;
    float: none;
    text-align: center;
    font-size: 13px;
    margin-top: 30px; }
    .login-wrapper .already p {
      display: inline-block;
      color: #222; }
    .login-wrapper .already a {
      color: #222;
      margin-left: 7px;
      border-bottom: 1px solid;
      transition: all 0.1s linear;
      -moz-transition: all 0.1s linear;
      /* Firefox 4 */
      -webkit-transition: all 0.1s linear;
      /* Safari and Chrome */
      -o-transition: all 0.1s linear;
      /* Opera */ }
      .login-wrapper .already a:hover {
        text-decoration: none;
        color: #000;
        border-bottom-color: #000; }

/* responsive */
@media (max-width: 767px) {
  .login-wrapper .box {
    width: 350px; }
  .login-wrapper .box .action {
    margin: 0px -31px; } }

@media (max-width: 480px) {
  .login-wrapper .box {
    width: 90%; } }

/* general table styles */
.table-wrapper {
  width: 100%;
  margin-bottom: 100px; }
  .table-wrapper .filter-block {
    margin-bottom: 34px; }
    .table-wrapper .filter-block .ui-select {
      margin-right: 20px;
      top: 1px;
      height: 24px;
      width: 150px; }
    .table-wrapper .filter-block .search {
      margin: 0 60px 0 0; }
    .table-wrapper .filter-block .new-product {
      padding: 4px 14px; }
  .table-wrapper .table th input[type="checkbox"] {
    margin-top: 4px; }
  .table-wrapper .table input[type="checkbox"] {
    float: left;
    margin-top: 11px;
    margin-right: 23px; }
  .table-wrapper .table .img {
    height: 31px;
    float: left;
    background: white;
    width: 31px;
    border: 1px solid #dfe4eb;
    text-align: center;
    cursor: pointer;
    margin-right: 23px; }
    .table-wrapper .table .img img {
      margin-top: 4px; }
  .table-wrapper .table tr.first td {
    border-top: 0 none; }
  .table-wrapper .table td a {
    text-decoration: underline;
    display: inline-block; }
  .table-wrapper .table td.description {
    vertical-align: middle;
    color: #516372; }
  .table-wrapper .table ul.actions {
    margin: 5px 0 0 0;
    padding: 0;
    float: right; }
    .table-wrapper .table ul.actions li {
      display: inline;
      padding: 5px 6px 0px 3px; }
      .table-wrapper .table ul.actions li.last {
        border: 0 none; }
    .table-wrapper .table ul.actions i {
      cursor: pointer;
      opacity: 0.6;
      transition: opacity 0.1s linear;
      -moz-transition: opacity 0.1s linear;
      -webkit-transition: opacity 0.1s linear;
      -o-transition: opacity 0.1s linear; }
      .table-wrapper .table ul.actions i:hover {
        opacity: 1; }
  .table-wrapper .label {
    position: relative; }

/* products table specific styles */
.table-wrapper.products-table a.name {
  position: relative;
  top: 6px; }

/* orders table specific styles */
.table-wrapper.orders-table td {
  padding: 12px 8px; }

/* users table specific styles */
.table-wrapper.users-table .table td {
  vertical-align: middle;
  font-size: 13px; }

.table-wrapper.users-table .table img.avatar {
  float: left;
  margin-right: 14px;
  max-width: 45px;
  position: relative;
  top: 8px; }

.table-wrapper.users-table .table a.name {
  color: #3389d1;
  display: block;
  font-weight: 600;
  font-size: 14px;
  margin: 15px 0 0 0; }

.table-wrapper.users-table .table .subtext {
  font-size: 12px;
  margin-left: 0;
  color: #778391;
  font-style: italic;
  margin-top: 0; }

/*Responsive*/
@media (max-width: 979px) {
  .pointer {
    top: 26.8%; } }

@media (max-width: 768px) {
  .table-wrapper {
    padding: 0px 15px; }
    .table-wrapper .table .img,
    .table-wrapper .table .avatar {
      display: none; }
    .table-wrapper .table input[type="checkbox"] {
      margin-right: 10px; }
    .table-wrapper .table .label {
      display: none; }
    .table-wrapper .filter-block .search {
      width: 30%;
      margin: 0 10px 0 0; }
    .table-wrapper .filter-block .order-search {
      float: left;
      margin: 0;
      width: 40%; }
    .table-wrapper .filter-block .user-search {
      float: left;
      margin: 0;
      width: 55%; }
    .table-wrapper .filter-block .add-user {
      margin-top: 0; } }

@media (max-width: 480px) {
  .table-wrapper .filter-block .search {
    float: right;
    width: 48%;
    margin: 0; }
  .table-wrapper .filter-block .new-product {
    float: right;
    margin-top: 15px; }
  .table-wrapper .filter-block .order-search {
    float: left;
    width: 43%; }
  .table-wrapper .filter-block .add-user {
    margin-top: 0; }
  .table-wrapper .filter-block .user-search {
    float: left;
    margin: 0;
    width: 55%; } }

#pad-wrapper {
  /* separator */
  /* pop dialogs specific styles */ }
  #pad-wrapper .title {
    margin-bottom: 30px; }
  #pad-wrapper .section {
    margin-bottom: 40px; }
    #pad-wrapper .section a.btn-flat,
    #pad-wrapper .section a.btn-glow {
      margin-right: 5px; }
    #pad-wrapper .section.btns a.btn-flat,
    #pad-wrapper .section.btns a.btn-glow {
      margin-bottom: 12px; }
    #pad-wrapper .section code {
      margin-right: 25px; }
    #pad-wrapper .section .btn-group i {
      color: #7d8892; }
    #pad-wrapper .section .btn-group.audio i {
      color: #96a9b8;
      font-size: 12px; }
  #pad-wrapper .ctrls {
    margin-bottom: 20px; }
    #pad-wrapper .ctrls .btn-glow {
      margin-right: 8px; }
    #pad-wrapper .ctrls .btn-flat.icon {
      margin-right: 8px; }
    #pad-wrapper .ctrls .btn-group.settings {
      margin-left: 20px; }
    #pad-wrapper .ctrls .btn-group.settings i {
      font-size: 13px;
      color: #444; }
    #pad-wrapper .ctrls .slider-frame {
      margin-right: 10px; }
    #pad-wrapper .ctrls .pagination {
      margin: 5px 0px; }
      #pad-wrapper .ctrls .pagination.inverse {
        margin-left: 25px; }
    #pad-wrapper .ctrls h4 {
      margin: 20px 0px 20px 0px; }
    #pad-wrapper .ctrls .dropdown .dropdown-menu {
      margin-right: 10px;
      position: static;
      display: block; }
    #pad-wrapper .ctrls .nav-tabs {
      margin-bottom: 15px; }
    #pad-wrapper .ctrls .tab-content {
      padding: 0px 10px;
      margin-bottom: 20px; }
  #pad-wrapper .sliders .slider {
    margin-bottom: 20px; }
  #pad-wrapper .separator {
    border-top: 1px solid #edeff1;
    margin-top: 100px;
    padding-top: 45px;
    box-shadow: inset 0px 3px 4px -1px #fafafa; }
  #pad-wrapper .section.dialogs h4 {
    margin-bottom: 30px; }

/* for menu dialog sample */
.pop-dialog .menu {
  width: 200px;
  margin: 5px -10px 0px -10px; }
  .pop-dialog .menu .item {
    display: block;
    padding: 5px 0px 5px 20px;
    font-weight: 600;
    color: #333;
    text-decoration: none;
    margin-bottom: 5px; }
    .pop-dialog .menu .item:hover {
      background-color: #30a1ec;
      color: #fff; }
  .pop-dialog .menu .footer {
    border-top: 1px solid #e6e8e9;
    background-color: #eff4f7;
    margin: 15px 0px -10px 0px;
    border-radius: 0px 0px 5px 5px;
    padding: 12px 20px; }
    .pop-dialog .menu .footer .logout {
      font-weight: 600;
      color: #7d91a8; }

/* styles for settings dialog sample */
.pop-dialog.full {
  width: 100%; }

.pop-dialog .settings {
  width: auto;
  margin: 5px -10px 0px -10px;
  position: relative; }
  .pop-dialog .settings .close-icon {
    text-decoration: none;
    position: absolute;
    top: -18px;
    right: 10px; }
  .pop-dialog .settings .icon-remove-sign {
    font-size: 15px;
    color: #95a8b7;
    cursor: pointer; }
  .pop-dialog .settings .items {
    margin-top: 15px; }
    .pop-dialog .settings .items .item {
      display: block;
      padding: 7px 0px 7px 20px;
      color: #333;
      font-size: 13px;
      font-weight: 600;
      border-top: 1px solid #e6e8e9; }
      .pop-dialog .settings .items .item:hover {
        color: #6187c0; }
      .pop-dialog .settings .items .item:first-child {
        border-top: 0px; }
      .pop-dialog .settings .items .item .check {
        float: right;
        margin-right: 30px; }
      .pop-dialog .settings .items .item .icon-reorder {
        color: #d9e4ee;
        font-size: 18px;
        margin-right: 13px; }

@media (min-width: 768px) and (max-width: 979px) {
  #pad-wrapper .section.dialogs > .span4 {
    width: 100%;
    margin-bottom: 30px; } }

.users-list .header h3 {
  margin-top: 0px; }

.users-list .header input.search {
  padding: 5px 6px;
  position: relative;
  top: 0px; }
  .users-list .header input.search:focus {
    box-shadow: none;
    border: 1px solid #888; }

.users-list .header .ui-select {
  margin: 3px 40px 0 0; }

.users-list .header .ui-dropdown {
  margin-left: 20px; }
  .users-list .header .ui-dropdown input.form-control {
    width: 60px;
    display: inline-block;
    height: 28px;
    margin: 0px 8px; }

.users-list .header a.btn-flat span {
  font-size: 17px;
  position: relative;
  top: 2px;
  margin-right: 4px; }

.users-list .table td {
  vertical-align: middle;
  font-size: 13px; }

.users-list .table img.avatar {
  float: left;
  margin-right: 14px;
  max-width: 45px;
  position: relative;
  top: 8px; }

.users-list .table a.name {
  color: #3389d1;
  display: block;
  font-weight: 600;
  font-size: 14px;
  margin: 15px 0 0 0; }

.users-list .table .subtext {
  font-size: 12px;
  margin-left: 0;
  color: #778391;
  font-style: italic;
  margin-top: 0; }

.users-list .pagination {
  margin-top: 25px; }

/* responsive */
@media (max-width: 767px) {
  .ui-dropdown .dialog .body {
    width: 250px;
    left: 58%;
    position: relative; }
  .users-list .table a.name {
    font-size: 12px; }
  .users-list .table td {
    font-size: 12px; }
  .users-list .table .avatar {
    display: none; }
  .users-list h3 {
    display: block;
    float: none;
    margin-bottom: 30px; }
  .users-list .header input.search {
    margin-bottom: 18px; }
  .users-list .header .ui-dropdown {
    float: left;
    margin-left: 0; }
  .ui-dropdown .dialog .body .form input[type="text"] {
    margin-top: 10px; }
  .ui-dropdown .dialog .body .form a {
    margin-top: 10px;
    margin-left: 18px; } }

.user-profile .header .avatar {
  float: left;
  margin-right: 25px;
  border: 2px solid #e9ecee;
  position: relative;
  top: 3px; }

.user-profile .header .name {
  font-weight: 600;
  margin: 20px 0 8px 0;
  line-height: 26px;
  margin-bottom: 10px;
  float: none; }

.user-profile .header span.area {
  color: #7d848c;
  font-style: italic;
  font-size: 14px; }

.user-profile .header a.btn-flat {
  margin-top: 18px; }

.user-profile .header a.delete-user {
  margin-left: 10px;
  font-size: 14px; }

.user-profile .profile .profile-box {
  border-top: 1px solid #dde2e9;
  padding-top: 23px;
  width: 90%; }

.user-profile .profile .section {
  margin-bottom: 80px; }
  .user-profile .profile .section.comment {
    margin-bottom: 100px;
    margin-top: 60px; }

.user-profile .profile .bio {
  box-shadow: 4px 0px 3px -1px rgba(226, 226, 226, 0.1);
  border-right: 1px solid #edeef1; }
  .user-profile .profile .bio .span12 {
    margin-left: 0; }
  .user-profile .profile .bio h6 {
    font-weight: 600;
    font-size: 14px; }
  .user-profile .profile .bio p {
    color: #777e86; }
  .user-profile .profile .bio textarea {
    width: 97%;
    margin-bottom: 13px;
    height: 80px; }
  .user-profile .profile .bio .submit-box {
    text-align: right; }
    .user-profile .profile .bio .submit-box input.btn-flat {
      font-weight: 500; }
    .user-profile .profile .bio .submit-box span {
      text-transform: uppercase;
      color: #7e91aa;
      font-weight: 600;
      display: inline-block;
      vertical-align: middle;
      margin: 0 2px 0 8px; }
    .user-profile .profile .bio .submit-box input.reset {
      color: #7e91aa;
      font-weight: 500; }

.user-profile .address h6 {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 30px;
  margin-left: 30px; }

.user-profile .address iframe {
  width: 90%;
  margin-bottom: 30px;
  float: right;
  border: 0px; }

.user-profile .address ul {
  padding: 0;
  margin-left: 30px;
  list-style: none; }
  .user-profile .address ul li {
    font-size: 13px;
    line-height: 21px; }
    .user-profile .address ul li.ico-li {
      margin: 7px 0 7px; }
  .user-profile .address ul i {
    display: inline-block;
    position: relative;
    top: 4px;
    margin-right: 7px; }
    .user-profile .address ul i.ico-mail {
      margin-right: 5px; }

/* responsive */
@media (min-width: 768px) and (max-width: 979px) {
  .user-profile .address ul {
    margin-left: 18px; }
    .user-profile .address ul i {
      display: none; }
    .user-profile .address ul li.ico-li {
      font-weight: bold; }
      .user-profile .address ul li.ico-li a {
        font-weight: normal; } }

@media (max-width: 768px) {
  .user-profile .profile .bio {
    border-right: 0 none;
    border-bottom: 1px solid #edeef1;
    box-shadow: 0px 4px 3px -1px rgba(226, 226, 226, 0.1); }
    .user-profile .profile .bio .span12 {
      width: auto; }
  .user-profile .profile .profile-box {
    width: 100%; }
  .user-profile .address {
    margin-top: 44px; }
    .user-profile .address iframe {
      width: 100%; }
    .user-profile .address h6 {
      margin-left: 0; }
    .user-profile .address ul {
      margin: 0; }
  .user-profile .header a.btn-flat {
    margin: 0; }
  .user-profile .header a.edit {
    margin-right: 10px; } }

@media (max-width: 480px) {
  .user-profile .header a.btn-flat {
    margin: 0; }
  .user-profile .header a.edit {
    margin-right: 10px; } }

.icons-wrapper {
  margin-bottom: 60px; }
  .icons-wrapper h4 {
    margin-bottom: 40px !important; }
  .icons-wrapper ul {
    list-style: none;
    margin: 0; }
    .icons-wrapper ul li {
      font-size: 13px;
      line-height: 32px;
      margin-right: 10px; }
    .icons-wrapper ul i {
      width: 32px;
      font-size: 16px;
      margin-right: 13px; }

.icons-wrapper-border {
  border-top: 1px solid #edeff1;
  padding-top: 60px;
  box-shadow: 0px 4px 7px -5px rgba(68, 68, 68, 0.14) inset; }

/*# sourceMappingURL=admin.css.map */