<div class="row filter-block">
	<div class="pull-left">
		<a href="{{create_uri}}" class="btn-flat success">Add New Page</a>
	</div>
    <div class="pull-right">
        <input type="text" class="search table-search" placeholder="" v-on="keydown : search" v-model="searchKey"/>
    </div>
</div>

<br>
<div class="row">

<div class="progress" v-el="progress">
  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
    <span class="sr-only">45% Complete</span>
  </div>
</div>
<div class="table-responsive">
	<table class="table">
		<thead>
			<tr>
				<th v-repeat="columns">{{$value}}</th>
			</tr>
		</thead>
		<tbody>
			
			<tr v-repeat="page: pages | filterBy searchKey">
				<td>{{page.id}}</td>
				<td>{{page.name}}</td>
				<td><code>{{page.uri}}</code></td>
				<td><span class="label label-success">{{page.type}}</span></td>
				<td><code>{{page.section}}}</code></td>
				
				<td><span class="label label-success">{{page.active}}</span>
				<td>
					<span v-repeat="translation : page.translation">
						<a href="{{translation.url}}" class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i>{{translation.locale}}</a>
					</span>
				
				</td>

				<td>
                  	<a href="{{page.copy}}" class="btn btn-icon btn-primary" data-click="panel-collapse"><i class="fa fa-refresh"></i></a>
		        	<a href="{{page.edit}}" class="btn btn-icon btn-warning" data-click="panel-collapse"><i class="fa fa-pencil"></i></a>
					<a href="{{page.translate}}" class="btn btn-icon btn-success"><i class="fa fa-flag"></i></a>
		        	<button class="btn-delete btn btn-icon btn-danger" data-click="panel-remove" v-on="click: delete" data-url="{{page.delete}}">Delete</button>
  				</td>

  				<td><a href="{{page.uri}}" class="btn btn-icon btn-success"><i class="fa fa-eye"></i></a></td>
			</tr>
		</tbody>
	</table>
</div>
