/**
 * Nestable
 */

.dd { position: relative; display: block; margin: 0; padding: 0; max-width: 600px; list-style: none; font-size: 13px; line-height: 20px; }

.dd-list { display: block; position: relative; margin: 0; padding: 0; list-style: none; }
.dd-list .dd-list { padding-left: 30px; }
.dd-collapsed .dd-list { display: none; }

.dd-item,
.dd-empty,
.dd-placeholder { display: block; position: relative; margin: 0; padding: 0; min-height: 20px; font-size: 13px; line-height: 20px; }

.dd-handle { display: block; height: 30px; margin: 5px 0; padding: 5px 10px; cursor: move; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #F5F5F5;
    /*background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);*/
    /*background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);*/
    /*background:         linear-gradient(top, #fafafa 0%, #eee 100%);*/

    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd-handle:hover { color: #2ea8e5; background: #fff; }

.dd-item > button { display: block; position: relative; cursor: pointer; float: left; width: 25px; height: 20px; margin: 5px 0; padding: 0; text-indent: 100%; white-space: nowrap; overflow: hidden; border: 0; background: transparent; font-size: 12px; line-height: 1; text-align: center; font-weight: bold; }
.dd-item > button:before { content: '+'; display: block; position: absolute; width: 100%; text-align: center; text-indent: 0; }
.dd-item > button[data-action="collapse"]:before { content: '-'; }

.dd-placeholder,
.dd-empty { margin: 5px 0; padding: 0; min-height: 30px; background: #f2fbff; border: 1px dashed #b6bcbf; box-sizing: border-box; -moz-box-sizing: border-box; }
.dd-empty { border: 1px dashed #bbb; min-height: 100px; background-color: #e5e5e5;
    background-image: -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                      -webkit-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:    -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                         -moz-linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-image:         linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff),
                              linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff);
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
}

.dd-dragel { position: absolute; pointer-events: none; z-index: 9999; }
.dd-dragel > .dd-item .dd-handle { margin-top: 0; }
.dd-dragel .dd-handle {
    -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
            box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
}


.dd3-content { display: block; height: 60px; margin: 5px 0; padding: 5px 10px 5px 40px; color: #333; text-decoration: none; font-weight: bold; border: 1px solid #ccc;
    background: #F5F5F5;
    /*background: -webkit-linear-gradient(top, #fafafa 0%, #eee 100%);*/
    /*background:    -moz-linear-gradient(top, #fafafa 0%, #eee 100%);*/
    /*background:         linear-gradient(top, #fafafa 0%, #eee 100%);*/

    box-sizing: border-box; -moz-box-sizing: border-box;
}
.dd3-content:hover { color: #2ea8e5; background: #d5d5d5; }

.dd-dragel > .dd3-item > .dd3-content { margin: 0; }

.dd3-item > button { margin-left: 30px; }

.dd3-handle { position: absolute; margin: 0; left: 0; top: 0; cursor: pointer; width: 30px; text-indent: 100%; white-space: nowrap; overflow: hidden;
    border: 1px solid #ccc;
    background: #d5d5d5;
    /*background: -webkit-linear-gradient(top, #ddd 0%, #bbb 100%);*/
    /*background:    -moz-linear-gradient(top, #ddd 0%, #bbb 100%);*/
    /*background:         linear-gradient(top, #ddd 0%, #bbb 100%);*/
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.dd3-handle:before { content: '≡'; display: block; position: absolute; left: 0; top: 3px; width: 100%; text-align: center; text-indent: 0; color: #fff; font-size: 20px; font-weight: normal; }
.dd3-handle:hover { background: #404040; border:1px solid #404040; }



.dd {
    max-width: none;
    margin-bottom: 100px;

    // Make it more obvious that a button in a collapsed section is disabled
    .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
        opacity: 0.3;
        cursor: not-allowed;
    }
    button.disabled, button[disabled] {
        cursor: not-allowed;
    }

}

.dd-dragel > .dd3-item > .dd3-content {
    margin-bottom: 5px;
}

.dd-dragel {
    .dd-handle {
    -webkit-box-shadow: none;
            box-shadow: none;
    }
    .dd3-content {
        -webkit-box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
                box-shadow: 2px 4px 6px 0 rgba(0,0,0,.1);
    }
}

.dd-list {
    // Matches the styles applied inline by jQuery's slideToggle function
    overflow: hidden;
    width: 100%;
}

.dd3-content {
    height: 42px;
    padding-right: 1px;
    .edit-mode &, .dd-dragel & {
        padding-right: 7px;
    }
    margin: 0px 0px 5px 0px;
    .form-group {
        float: left;
        min-width: 100%;
        .edit-mode &, .dd-dragel & {
            min-width: ~"calc(100% - 75px)";
        }
        margin-left: -5px;
        margin-bottom: 0px;
        // Without this, Firefox displays the buttons well below the input
        vertical-align: top;
    }
    @media only screen and (max-width: 480px) {
        height: auto;
        padding-right: 5px;
        padding-left: 35px;
        text-align: right;
        .form-group {
            width: 100%;
            margin: 0px;
        }
        .btn-sm {
            margin-top: 5px;
            min-width: 50px;
        }
    }
    .collapsible > & {
        padding-left: 70px;
        @media only screen and (max-width: 480px) {
            padding-left: 65px;
        }
    }
    // Highlighting of new items
    .new > & {
        -webkit-transition: background-color 1s ease-in;
        -moz-transition:    background-color 1s ease-in;
        -o-transition:      background-color 1s ease-in;
        transition:         background-color 1s ease-in;
    }
    .highlight > & {
        background-color: #DFF0D8;
    }
}

.dd3-handle {
    height: 42px;
    padding: 0px;
    cursor: move;
    &:before {
        display: none;
    }
    @media only screen and (max-width: 480px) {
        .edit-mode &, .dd-dragel & {
            height: 76px;
        }
    }
    .glyphicon, .fa {
        position: absolute;
        color: #fff;
        text-indent: 0%;
        font-size: 22px;
        top: 8px;
        left: 3px;
        @media only screen and (max-width: 480px) {
            top: 50%;
            margin-top: -11px;
        }
    }
}

.dd-placeholder {
    margin: 0px 0px 5px;
}

button[data-action="collapse"], button[data-action="expand"] {
    text-indent: 0;
    width: 30px;
    height: 42px;
    background: #d5d5d5;
    border: 1px solid #ccc;
    color: #fff;
    position: absolute;
    top: 0;
    margin: 0;
    left: 30px;
    &:before {
        content: '';
    }
    &:hover, &:focus {
        background: #404040;
        border: 1px solid #404040;
    }
    &:focus {
        outline: none;
    }
    &.disabled, &[disabled] {
        &:hover, &:focus {
            background: #d5d5d5;
            border: 1px solid #ccc;
        }
    }
    @media only screen and (max-width: 480px) {
        .edit-mode &, .dd-dragel & {
            height: 76px;
        }
    }
}

button[data-action="add"], button[data-action="remove"] {
    float: left;
    margin-left: 6px;
    // Hide, unless in edit mode or dragging
    display: none;
    .edit-mode &, .dd-dragel & {
        display: block;
    }
    @media only screen and (max-width: 480px) {
        margin-left: 0px;
    }
}

button[data-action="add"] {
    @media only screen and (max-width: 480px) {
        margin-right: 6px;
    }
}

button[data-action="add-top-level"] {
    margin: 5px 0px 10px;
    &.top {
        margin: 0px 0px 10px;
    }
}
