
<div class="row filter-block">
	<div class="pull-left">
		<a href="{{create_uri}}" class="btn-flat success">Add New Content Item</a>
	</div>
    <div class="pull-right">
        <input type="text" class="search table-search" placeholder="" v-on="keydown : search" v-model="searchKey"/>
    </div>
</div>

<br>
<div class="row">

	<div class="progress" v-el="progress">
	  <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
	    <span class="sr-only">45% Complete</span>
	  </div>
	</div>
	
	<div class="table-responsive">
		<table class="table table-hover" data-route="" v-el="table" style="display:none;">
			<thead>
				<tr>
					<th v-repeat="columns">{{$value}}</th>
				</tr>
			</thead>
			<tbody>

				<tr v-repeat="content: contents  | filterBy searchKey">
					<td>{{content.id}}</td>
					<td>{{content.name}}</td>
					<td><code>{{content.slug}}</code></td>
					<td>{{content.type}}</td>
					<td><span class="label label-primary">{{content.html}}</span></td>
					<td>
						<span v-repeat="translation : content.translation">
							<a href="{{translation.url}}" class="btn btn-xs btn-primary"><i class="fa fa-pencil"></i>{{translation.locale}}</a>
						</span>
					</td>

					<td>
				        <a href="{{content.copy}}" class="btn btn-icon btn-circle btn-primary" data-click="panel-collapse"><i class="fa fa-refresh"></i></a>
				        <a href="{{content.edit}}" class="btn btn-icon btn-circle btn-warning" data-click="panel-collapse"><i class="fa fa-pencil"></i></a>
						<a href="{{content.translate}}" class="btn btn-icon btn-circle btn-success"><i class="fa fa-flag"></i></a>
				        <button class="btn-delete btn btn-icon btn-circle btn-danger" data-click="panel-remove" v-on="click: delete" data-url="{{content.delete}}">Delete</button>
					</td>
					
				</tr>
				
			</tbody>
		</table>
	</div>

	<div class="row ctrls">
	  	
	</div>

</div>